[submodule "online-k8s-setup/ubuntu-18.04/external-HAProxy-IC"]
	path = online-k8s-setup/ubuntu-18.04/external-HAProxy-IC
	url = https://github.com/haeramkeem/haproxy-ingress-controller-external-example.git
	branch = master
